In [11]:
import numpy as np 

data = np.random.randint(100, size=100)
odd = []
even = []
print(data)
for i in data:
    if(i % 2 != 0):
        odd.append(i)
    else:
        even.append(i)
print(odd)
print(even)

[15 28 42 39  3 67 47 12 82 90 45 38 14  7 22 50 54 97 82  2 14 48 20 54
 62 62 41  7 19 24  6 28 65 83 56 24 49 33 77 43 11 64 48 99 90 80 11 34
 67 95 90 28 51 16 24  9 29 61 93 15 34 42 41 51  9 48 86  1 42 17  7 67
 41 14 15 99 51 95 72 20 62 73 78 75 58 29  6 50 25 44 80  9 35 64 91 99
 96 58 74 90]
[15, 39, 3, 67, 47, 45, 7, 97, 41, 7, 19, 65, 83, 49, 33, 77, 43, 11, 99, 11, 67, 95, 51, 9, 29, 61, 93, 15, 41, 51, 9, 1, 17, 7, 67, 41, 15, 99, 51, 95, 73, 75, 29, 25, 9, 35, 91, 99]
[28, 42, 12, 82, 90, 38, 14, 22, 50, 54, 82, 2, 14, 48, 20, 54, 62, 62, 24, 6, 28, 56, 24, 64, 48, 90, 80, 34, 90, 28, 16, 24, 34, 42, 48, 86, 42, 14, 72, 20, 62, 78, 58, 6, 50, 44, 80, 64, 96, 58, 74, 90]

In [37]:
import pandas as pd

data = [
    {'MIT': 5000, 'Stanford': 4500, 'NUS': 15000},
    {'MIT': 1, 'Stanford': 2, 'NUS': 200},
]

df = pd.DataFrame(data, index=['NumOfStudents','Ranking'])
print(df)
print(df.NUS.values)
print(df['NUS']['Ranking'])
print(df.values[1:,2:])
print(df.values[1:,0:3:1])

                MIT  Stanford    NUS
NumOfStudents  5000      4500  15000
Ranking           1         2    200
[15000   200]
200
[[200]]
[[  1   2 200]]

In [65]:
import pandas as pd

df = pd.read_csv('brics.csv',index_col=0)
#df['test'] = [1,2,3,4,5]
print(df)
# print(df.loc['CH','area'])

df.loc['VN'] = ['Vietnam', 1,2, 'Hochiminh'] 
print(df)

         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria
         country  population      area    capital
BR        Brazil         200   8515767   Brasilia
RU        Russia         144  17098242     Moscow
IN         India        1252   3287590  New Delhi
CH         China        1357   9596961    Beijing
SA  South Africa          55   1221037   Pretoria
VN       Vietnam           1         2  Hochiminh